// Fonts
// --------------------------------------
$ff-montserrat: "Montserrat", sans-serif;
$ff-arial: "Arial", sans-serif;

// Colors
// -----------------------------------------
$color-black: #000000;
$color-white: #ffffff;
$color-slate-blue: #7859CF;
$color-night-rider: #333333;
$color-bridal-heath: #F3EBE1;
$color-white-smoke: #F8F8F8;
$color-medium-purple: #9070EC;
$color-silver: #BDBDBD;

// Viewpirts
// ---------------------------------------
$vp-320: 320px;
$vp-768: 768px;
$vp-1024: 1024px;
